/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background: #ddd;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

li {
	margin-left: 16px;
}

a {
	cursor: pointer;
}




.textArea-container {
	max-width: 991px;
	width: 100%;
	background: #fff;
	border-radius: 8px;
	overflow: hidden;
}
.toolbar {
	padding: 16px;
	background: #eee;
}
.toolbar .head {
	display: flex;
	grid-gap: 10px;
	margin-bottom: 16px;
	flex-wrap: wrap;
}
.toolbar .head > input {
	max-width: 100px;
	padding: 6px 10px;
	border-radius: 6px;
	border: 2px solid #ddd;
	outline: none;
}
.toolbar .head select {
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
}
.toolbar .head .color {
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	grid-gap: 6px;
	padding: 0 10px;
}
.toolbar .head .color span {
	font-size: 14px;
}
.toolbar .head .color input {
	border: none;
	padding: 0;
	width: 26px;
	height: 26px;
	background: #fff;
	cursor: pointer;
}
.toolbar .head .color input::-moz-color-swatch {
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 50%;
}
.toolbar .btn-toolbar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	grid-gap: 10px;
}
.toolbar .btn-toolbar button {
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 6px;
	cursor: pointer;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}
.toolbar .btn-toolbar button:hover {
	background: #f3f3f3;
}
#content {
	padding: 16px;
	outline: none;
	max-height: 50vh;
	overflow: auto;
}
#show-code[data-active="true"] {
	background: #eee;
}

 */


/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background: #F9F8F8;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

li {
	margin-left: 16px;
}

a {
	cursor: pointer;
}




.textArea-container {
	max-width: 940px;
	width: 100%;
	background: #fff;
	border-radius: 8px;
	overflow: hidden;
    border: 1px solid black;
}
.toolbar {
	padding: 16px;
	background: #eee;
}
.toolbar .head {
	display: flex;
	grid-gap: 10px;
	margin-bottom: 16px;
	flex-wrap: wrap;
}
.toolbar .head > input {
	max-width: 100px;
	padding: 6px 10px;
	border-radius: 6px;
	border: 2px solid #ddd;
	outline: none;
}
.toolbar .head select {
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
}
.toolbar .head .color {
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	grid-gap: 6px;
	padding: 0 10px;
}
.toolbar .head .color span {
	font-size: 14px;
}
.toolbar .head .color input {
	border: none;
	padding: 0;
	width: 26px;
	height: 26px;
	background: #fff;
	cursor: pointer;
}
.toolbar .head .color input::-moz-color-swatch {
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 50%;
}
.toolbar .btn-toolbar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	grid-gap: 10px;
}
.toolbar .btn-toolbar button {
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 6px;
	cursor: pointer;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}
.toolbar .btn-toolbar button:hover {
	background: #f3f3f3;
}
#content {
	padding: 16px;
	outline: none;
	max-height: 50vh;
	overflow: auto;
    height:35vh;
}
#show-code[data-active="true"] {
	background: #eee;
}
.page-content {
	display: block;
}

.FullPageHeader {
	display: flex;
}


.highlight {
	background-color: #FDFED7;
	

}

.highlight-number {
	background-color: #DEFBDA;
	

}


.highlight-remember {
	background-color: #CDFEFB;
}

.highlight-dontforget {
	background-color: #F9CDE4;
} */

@import url('https://fonts.cdnfonts.com/css/handwriting');
* {
    box-sizing: border-box;
    font-family: 'Handwriting', cursive; /* Set the handwriting font globally */
}

:root {
    --yellow: #FDF7D5;
    --lines: #EBDEC4;
}

html {
    height: 100%;
}

body {
    background: white;
    height: 100vh;
}

  

.questions-note {
    padding-left:10vh;
    display: flex;
    width: 70vh;
    height:10vh;
    align-items: center;
    justify-content: center;
}
.summary-note {
    padding-left:3vh;
    display: flex;
    width: 100vh;
    height:20vh;
    align-items: center;
    justify-content: center;
}


.box {
    display: flex;
    width: 60vw;
    min-height: 5vh;
    margin: auto;
    padding: 0;
    padding-top: calc(var(--size)/2);
    --size: 20px;
    background: radial-gradient(calc(var(--size)/2) at top, transparent 90%, var(--yellow) 100%);
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: calc(var(--size)*1.5) calc(var(--size)/2);
    filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.2));
}

.box1 {
    display: flex;
    width: 100vw;
    min-height: 5vh;
    margin: auto;
    padding: 0;
    padding-top: calc(var(--size)/2);
    --size: 20px;
    background: radial-gradient(calc(var(--size)/2) at top, transparent 90%, var(--yellow) 100%);
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: calc(var(--size)*1.5) calc(var(--size)/2);
    filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.2));
}

.boxContent {
    display: flex;
    width: 100%;
    min-height: 100%;
    background: var(--yellow);
    padding: 2.5rem 1rem 1rem;
}

p {
    display: block;
    width: 100%;
    font-size: 4vmin;
    line-height: 1.8em;
    background-image: linear-gradient(to bottom, transparent 96%, var(--lines) 100%, var(--lines) 96%, transparent 100%);
    background-size: 100% 1.8em;
    background-repeat: repeat-y;
    padding: 0 1rem;
    text-wrap: pretty;
}
.notes{
    display:flex;
    padding-top:10vh;
    padding-bottom:10vh;
    /* max-width:950vh; */
}
body {
    background: #F9F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

li {
    margin-left: 16px;
}

a {
    cursor: pointer;
}

.textArea-container {
    max-width: 940px;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid black;
}

.toolbar {
    padding: 16px;
    background: #eee;
}

.toolbar .head {
    display: flex;
    grid-gap: 10px;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

.toolbar .head > input {
    max-width: 100px;
    padding: 6px 10px;
    border-radius: 6px;
    border: 2px solid #ddd;
    outline: none;
}

.toolbar .head select {
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
}

.toolbar .head .color {
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    grid-gap: 6px;
    padding: 0 10px;
}

.toolbar .head .color span {
    font-size: 14px;
}

.toolbar .head .color input {
    border: none;
    padding: 0;
    width: 26px;
    height: 26px;
    background: #fff;
    cursor: pointer;
}

.toolbar .head .color input::-moz-color-swatch {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
}

.toolbar .btn-toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 10px;
}

.toolbar .btn-toolbar button {
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 6px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.toolbar .btn-toolbar button:hover {
    background: #f3f3f3;
}

#content {
    padding: 16px;
    outline: none;
    max-height: 50vh;
    overflow: auto;
    height: 35vh;
}

#show-code[data-active="true"] {
    background: #eee;
}

.page-content {
    display: block;
}

.FullPageHeader {
    display: flex;
}

.highlight {
    background-color: #FDFED7;
}

.highlight-number {
    background-color: #DEFBDA;
}

.highlight-remember {
    background-color: #CDFEFB;
}

.highlight-dontforget {
    background-color: #F9CDE4;
}
